<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="comNews">
	<select id="getNewsList" resultType="comNewsVo">
		select news_id, gu, division, tit, to_char(ins_dt, 'yyyy-mm-dd') ins_dt, fn
		from community_news
		order by news_id desc
	</select>

	<insert id="comNewsInsert" parameterType="comNewsVo">
		insert into community_news (news_id, gu, division, tit, ins_dt, fn)
		values (#{news_id}, #{gu}, #{division}, #{tit}, #{ins_dt}, #{fn})
	</insert>
	
	<delete id="reset">
		delete from community_news
	</delete>
</mapper>