<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="comRep">
	<select id="getRep" resultType="comRepVo" parameterType="int">
		select c.cont, u.nick_nm, c.ins_dt, c.rep_id
		from community_reply c
		join users u on c.ins_id = u.user_id
		where c.com_id = #{com_id}
		order by c.ins_dt asc
	</select>
	
	<select id="getRepCount" resultType="int" parameterType="int">
		select count(cont)
		from community_reply c
		where c.com_id = #{com_id}
	</select>
	
	<insert id="comRepInsert" parameterType="comRepVo">
		insert into community_reply (rep_id, cont, ins_dt, ins_id, com_id)
		values (community_reply_seq.nextval, #{cont}, sysdate, #{ins_id}, #{com_id})
	</insert>
	
	<delete id="comRepDelete" parameterType="int">
		delete from community_reply
		where rep_id = #{rep_id}
	</delete>
</mapper>